<div class="modal-header">
  <h4 class="modal-title">{{stu.name}}-成绩编辑</h4>
</div>
<div class="modal-body">
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td>姓名</td>
        <td>{{stu.name}}</td>
        <td>年级号</td>
        <td>{{stu.grade_num}}</td>
      </tr>
      <tr>
        <td>学籍号</td>
        <td>{{stu.student_code}}</td>
        <td>课程</td>
        <td>{{stu.teacher_class}}</td>
      </tr>
    </tbody>
  </table>
  <form class="form-horizontal">
    <div class="form-group" ng-repeat="v in subjectList">
      <label class="col-md-3 control-label">{{v.column_comment}}</label>
      <div class="col-md-8">
        <input type="text" class="form-control" ng-model="$parent.stu[v.column_name]" maxlength="10">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">关闭</button>
  <button class="btn btn-primary" ng-click="ok()">提交</button>
</div>