<div class="hbox hbox-auto-xs bg-light">
  <!-- column -->
  <div class="col">
    <div class="vbox">
      <div class="wrapper bg-light lter b-b">
        <div class="btn-group pull-right">
        </div>
        <div class="m-l-n-xs">
          <button class="btn btn-sm btn-primary" type="button" ng-click="add()">
            <i class="fa fa-plus"></i> 新增体侧项目</button>
        </div>
      </div>
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="bg-white h-full">
              <div class="table-responsive">
                <table class="table table-striped table-bordered b-t b-light m-b-none">
                  <thead>
                    <tr>
                      <th>数据库对应字段</th>
                      <th>体测项目名称</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="v in resSubjectList">
                      <td>{{v.column_name}}</td>
                      <td>{{v.column_comment}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /column -->
</div>